.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px 30px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 40px;
  height: auto;
}

.footer-logo p {
  color: #383838;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: #000;
}

.footer_social-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
 
}

.footer-icons-container {
  padding: 10px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  transition: transform 0.3s ease;
  cursor: pointer;

}



.footer-icons-container:hover {
  transform: scale(1.1);
}

.footer-copyright {
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.footer hr {
  width: 80%;
  border: none;
  height: 1px;
  background: #c7c7c7;
  border-radius: 10px;
}
