.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 0 30px;
  background: #f9f9f9; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo img {
  width: 40px;
  height: auto;
}

.footer-logo p {
  color: #383838;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: #000;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.footer-icons-container {
  padding: 10px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  transition: transform 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.footer-icons-container:hover {
  transform: scale(1.1);
  background: #f0f0f0;
}

.footer hr {
  width: 85%;             
  max-width: 900px;        
  border: none;
  height: 1.5px;            
  background: #c7c7c7;
  margin: 20px auto 0;      
  border-radius: 50px;
}

.footer-copyright {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 15px;
}
@media(max-width:800px){
  .footer{
    gap: 20px;
  }
  .footer-logo{
    gap: 10px;
    align-items: end;
  }
  .footer-logo img{
    width: 40px;
  }
  .footer-logo p{
    font-size: 25px;
  }
  .footer-links{
    font-size: 14px;
    gap: 10px;
  }
  .footer-social-links img{
    width: 22px;
  }
  .footer-copyright{
    font-size: 13px;
  }
}